#question_locked { max-height: 75vh; }
video { max-height: 90vh; }
#locked header {
    display: flex;            /* Enable flexbox layout */
    justify-content: center;  /* Center content by default */
    align-items: center;      /* Align items vertically */
    text-align: center;       /* Ensure text is centered */
    position: relative;       /* Positioning context for absolute positioning */
}
#locked header button {
    position: absolute;       /* Position the button absolutely within the header */
    right: 0;                 /* Align it to the right */
    top: 50%;                 /* Align it to the top, then adjust with transform for centering */
    transform: translateY(-50%); /* Center the button vertically */
}
#loadership { display: none; }